---
http_interactions:
- request:
    method: get
    uri: https://api.soundcloud.com/me/activities/all?cursor=dc8fe080-c90d-11e1-93b4-d283dbf09cab&oauth_token=<ACCESS_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"6bbeaeb699aa49e9e335bfd84c1e1197"'
    body:
      encoding: US-ASCII
      string: ! '{"collection":[{"type":"favoriting","created_at":"2012/07/08 15:01:57
        +0000","origin":{"track":{"id":42997587,"permalink":"calibrate","title":"Calibrate","user_id":253166,"kind":"track","uri":"https://api.soundcloud.com/tracks/42997587","user_uri":"https://api.soundcloud.com/users/253166","permalink_url":"http://soundcloud.com/glennwilson/calibrate","stream_url":"https://api.soundcloud.com/tracks/42997587/stream","artwork_url":"https://i1.sndcdn.com/artworks-000021583026-ck14bx-large.jpg?34f5d10"},"user":{"id":179466,"kind":"user","permalink":"drugstore","username":"Drugstore","uri":"https://api.soundcloud.com/users/179466","permalink_url":"http://soundcloud.com/drugstore","avatar_url":"https://i1.sndcdn.com/avatars-000000622115-sxdyrx-large.jpg?34f5d10"}},"tags":"affiliated"},{"type":"track","created_at":"2012/07/08
        12:34:22 +0000","origin":{"kind":"track","id":52155841,"created_at":"2012/07/08
        12:34:22 +0000","user_id":38691,"duration":348213,"commentable":true,"state":"finished","original_content_size":61387244,"sharing":"public","tag_list":"","permalink":"alkalino-memoria","description":"","streamable":true,"downloadable":false,"genre":"","release":"","purchase_url":"http://alkalino.bandcamp.com/track/alkalino-memoria","purchase_title":"buy
        link","label_id":null,"label_name":"","isrc":"","video_url":null,"track_type":"","key_signature":"","bpm":null,"title":"Alkalino
        - Memoria","release_year":null,"release_month":null,"release_day":null,"original_format":"wav","license":"all-rights-reserved","uri":"https://api.soundcloud.com/tracks/52155841","embeddable_by":"all","user":{"id":38691,"kind":"user","permalink":"alkalino","username":"Alkalino","uri":"https://api.soundcloud.com/users/38691","permalink_url":"http://soundcloud.com/alkalino","avatar_url":"https://i1.sndcdn.com/avatars-000017581300-0m35qz-large.jpg?34f5d10"},"user_playback_count":1,"user_favorite":false,"permalink_url":"http://soundcloud.com/alkalino/alkalino-memoria","artwork_url":"https://i1.sndcdn.com/artworks-000026310977-z2a1dx-large.jpg?34f5d10","waveform_url":"https://w1.sndcdn.com/c7Mani32Dnvg_m.png","stream_url":"https://api.soundcloud.com/tracks/52155841/stream","playback_count":699,"download_count":151,"favoritings_count":64,"comment_count":26,"attachments_uri":"https://api.soundcloud.com/tracks/52155841/attachments","sharing_note":{"text":"","created_at":"2012/07/08
        12:34:22 +0000"}},"tags":"affiliated"},{"type":"favoriting","created_at":"2012/07/08
        06:33:05 +0000","origin":{"track":{"id":38474656,"permalink":"hot-chip-my-piano-exclusive","title":"Hot
        Chip - My Piano (Exclusive)","user_id":739743,"kind":"track","uri":"https://api.soundcloud.com/tracks/38474656","user_uri":"https://api.soundcloud.com/users/739743","permalink_url":"http://soundcloud.com/cheshyrsky/hot-chip-my-piano-exclusive","stream_url":"h[...]
