---
http_interactions:
- request:
    method: get
    uri: https://api.soundcloud.com/me/activities?cursor=fd997580-c2fe-11e1-835a-8e09bb6ff6e1&oauth_token=<ACCESS_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"d3a8000814d38ef26331ca6bf51d83dd"'
    body:
      encoding: US-ASCII
      string: ! '{"collection":[{"type":"favoriting","created_at":"2012/06/30 22:00:23
        +0000","origin":{"track":{"id":41370601,"permalink":"dedy-dread-high-grade-show","title":"DEDY
        DREAD HIGH GRADE SHOW 27_02_12","user_id":262825,"kind":"track","uri":"https://api.soundcloud.com/tracks/41370601","user_uri":"https://api.soundcloud.com/users/262825","permalink_url":"http://soundcloud.com/dedydread/dedy-dread-high-grade-show","stream_url":"https://api.soundcloud.com/tracks/41370601/stream","artwork_url":"https://i1.sndcdn.com/artworks-000020765738-bqviuw-large.jpg?34f5d10"},"user":{"id":293501,"kind":"user","permalink":"soundsofthe70sblogspot","username":"soundsofthe70s.blogspot","uri":"https://api.soundcloud.com/users/293501","permalink_url":"http://soundcloud.com/soundsofthe70sblogspot","avatar_url":"https://i1.sndcdn.com/avatars-000000684917-2plb9u-large.jpg?34f5d10"}},"tags":"affiliated"},{"type":"track","created_at":"2012/06/30
        14:24:01 +0000","origin":{"kind":"track","id":51354399,"created_at":"2012/06/30
        14:24:01 +0000","user_id":38691,"duration":167481,"commentable":true,"state":"finished","original_content_size":6695813,"sharing":"public","tag_list":"","permalink":"alkalino-then-say-it-out-now","description":"","streamable":true,"downloadable":false,"genre":"","release":"","purchase_url":"http://www.beatport.com/release/echo-deluxe-ibiza-sampler-2012/928012","purchase_title":null,"label_id":null,"label_name":"","isrc":"","video_url":null,"track_type":"","key_signature":"","bpm":null,"title":"Alkalino
        - Then Say It (out now on Beatport)","release_year":null,"release_month":null,"release_day":null,"original_format":"mp3","license":"all-rights-reserved","uri":"https://api.soundcloud.com/tracks/51354399","embeddable_by":"all","user":{"id":38691,"kind":"user","permalink":"alkalino","username":"Alkalino","uri":"https://api.soundcloud.com/users/38691","permalink_url":"http://soundcloud.com/alkalino","avatar_url":"https://i1.sndcdn.com/avatars-000017581300-0m35qz-large.jpg?34f5d10"},"user_playback_count":1,"user_favorite":false,"permalink_url":"http://soundcloud.com/alkalino/alkalino-then-say-it-out-now","artwork_url":"https://i1.sndcdn.com/artworks-000025897122-igme41-large.jpg?34f5d10","waveform_url":"https://w1.sndcdn.com/EXTQiDUWkfoR_m.png","stream_url":"https://api.soundcloud.com/tracks/51354399/stream","playback_count":462,"download_count":0,"favoritings_count":21,"comment_count":8,"attachments_uri":"https://api.soundcloud.com/tracks/51354399/attachments","sharing_note":{"text":"","created_at":"2012/06/30
        14:24:01 +0000"}},"tags":"affiliated"},{"type":"favoriting","created_at":"2012/06/30
        13:49:04 +0000","origin":{"track":{"id":51344409,"permalink":"slow-club-two-cousins-leo-zero","title":"Slow
        Club ''Two Cousins'' (Leo Zero Remix)","user_id":12360,"kind":"track","uri":"https://api.soundcloud.com/tracks/51344409","user_uri":"https://api.soundcloud.com/users/12360","permalink_url":"http://soundcloud.com/leo-zero/slow-club-two-cousins-leo-zero","s[...]
