---
http_interactions:
- request:
    method: get
    uri: http://api.soundcloud.com/comments/13685794?access_token=<ACCESS_TOKEN>&client_id=<CLIENT_ID>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"efa370f12aa2fcc0c3e3c4170d026f17"'
    body:
      encoding: US-ASCII
      string: ! '{"kind":"comment","id":13685794,"created_at":"2011/04/06 14:55:30
        +0000","user_id":1505645,"track_id":9740245,"timestamp":55593,"body":"best
        jehst! :D","uri":"http://api.soundcloud.com/comments/13685794","user":{"id":1505645,"kind":"user","permalink":"four2wenty","username":"four2wenty","uri":"http://api.soundcloud.com/users/1505645","permalink_url":"http://soundcloud.com/four2wenty","avatar_url":"http://i1.sndcdn.com/avatars-000012916021-gojrxj-large.jpg?b9fd227"}}'
  recorded_at: Thu, 28 Jun 2012 08:52:03 GMT
recorded_with: VCR 2.2.0
