---
http_interactions:
- request:
    method: get
    uri: http://api.soundcloud.com/groups/83495/contributors?client_id=<CLIENT_ID>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"3620bb319113f7fe7e4f1fc5f7fdee18"'
    body:
      encoding: US-ASCII
      string: ! '[{"id":999942,"kind":"user","permalink":"jackca","username":"JackCA","uri":"http://api.soundcloud.com/users/999942","permalink_url":"http://soundcloud.com/jackca","avatar_url":"http://i1.sndcdn.com/avatars-000002957252-ptk617-large.jpg?96679da","country":"United
        States","full_name":"Jack Anderson","city":"San Francisco","description":"","discogs_name":null,"myspace_name":null,"website":"http://janderson.me","website_title":"","online":true,"track_count":1,"playlist_count":1,"public_favorites_count":75,"followers_count":21,"followings_count":112}]'
  recorded_at: Fri, 29 Jun 2012 15:40:46 GMT
recorded_with: VCR 2.2.0
