---
http_interactions:
- request:
    method: get
    uri: http://api.soundcloud.com/groups/83495/users?client_id=617d95619347608e50397121b0b171be
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"769b5f2c197998b74561f5e4180d8094"'
    body:
      encoding: US-ASCII
      string: ! '[{"id":999942,"kind":"user","permalink":"jackca","username":"JackCA","uri":"http://api.soundcloud.com/users/999942","permalink_url":"http://soundcloud.com/jackca","avatar_url":"http://i1.sndcdn.com/avatars-000002957252-ptk617-large.jpg?a9a4a49","country":"United
        States","full_name":"Jack Anderson","city":"San Francisco","description":"","discogs_name":null,"myspace_name":null,"website":"http://janderson.me","website_title":"","online":false,"track_count":1,"playlist_count":0,"public_favorites_count":70,"followers_count":18,"followings_count":110}]'
  recorded_at: Thu, 21 Jun 2012 08:35:22 GMT
recorded_with: VCR 2.2.0
