---
http_interactions:
- request:
    method: get
    uri: http://api.soundcloud.com/groups/3?client_id=617d95619347608e50397121b0b171be
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"5aec9cdb96498445924118715065f067"'
    body:
      encoding: US-ASCII
      string: ! '{"kind":"group","id":3,"created_at":"2009/06/18 15:46:46 +0000","permalink":"made-with-ableton-live","name":"Made
        with Ableton Live!","short_description":"tracks produced with Ableton Live!
        music software, no DJ mixes!","description":"send your tracks, no DJ mixes
        please!","uri":"http://api.soundcloud.com/groups/3","artwork_url":"http://i1.sndcdn.com/artworks-000000481400-f0ynk3-large.jpg?a9a4a49","permalink_url":"http://soundcloud.com/groups/made-with-ableton-live","creator":{"id":552892,"kind":"user","permalink":"ableton","username":"Ableton","uri":"http://api.soundcloud.com/users/552892","permalink_url":"http://soundcloud.com/ableton","avatar_url":"http://i1.sndcdn.com/avatars-000001173775-dm1p1l-large.jpg?a9a4a49"}}'
  recorded_at: Thu, 21 Jun 2012 03:53:27 GMT
recorded_with: VCR 2.2.0
