---
http_interactions:
- request:
    method: get
    uri: http://api.soundcloud.com/groups/83495?client_id=<CLIENT_ID>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"e98e3275c3804e26e1f3599cfa27fc97"'
    body:
      encoding: US-ASCII
      string: ! '{"kind":"group","id":83495,"created_at":"2012/06/21 04:33:50 +0000","permalink":"red_haze","name":"red_haze","short_description":"red_haze
        gem group","description":"","uri":"http://api.soundcloud.com/groups/83495","artwork_url":"http://a1.sndcdn.com/images/default_avatar_large.png?96679da","permalink_url":"http://soundcloud.com/groups/red_haze","creator":{"id":999942,"kind":"user","permalink":"jackca","username":"JackCA","uri":"http://api.soundcloud.com/users/999942","permalink_url":"http://soundcloud.com/jackca","avatar_url":"http://i1.sndcdn.com/avatars-000002957252-ptk617-large.jpg?96679da"}}'
  recorded_at: Fri, 29 Jun 2012 15:40:45 GMT
recorded_with: VCR 2.2.0
