---
http_interactions:
- request:
    method: get
    uri: https://api.soundcloud.com/me?oauth_token=<ACCESS_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"d982350c157c3f06fbc2fe85c32c32b9"'
    body:
      encoding: US-ASCII
      string: ! '{"id":999942,"kind":"user","permalink":"jackca","username":"JackCA","uri":"https://api.soundcloud.com/users/999942","permalink_url":"http://soundcloud.com/jackca","avatar_url":"https://i1.sndcdn.com/avatars-000002957252-ptk617-large.jpg?96679da","country":"United
        States","full_name":"Jack Anderson","city":"San Francisco","description":"","discogs_name":null,"myspace_name":null,"website":"http://janderson.me","website_title":"","online":true,"track_count":1,"playlist_count":1,"public_favorites_count":75,"followers_count":21,"followings_count":112,"plan":"Free","private_tracks_count":0,"private_playlists_count":0,"primary_email_confirmed":true}'
  recorded_at: Fri, 29 Jun 2012 15:40:47 GMT
recorded_with: VCR 2.2.0
