---
http_interactions:
- request:
    method: get
    uri: https://api.soundcloud.com/me/activities?oauth_token=<ACCESS_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"46077d31d40bb2e4059b704e50b0c8e9"'
    body:
      encoding: US-ASCII
      string: ! '{"collection":[{"type":"favoriting","created_at":"2012/07/01 21:42:23
        +0000","origin":{"track":{"id":7310692,"permalink":"jan-hammer-group-dont-you-know-jimi-bazzouka-edit","title":"Jan
        Hammer Group - Don''t You Know (Jimi Bazzouka Edit)","user_id":963463,"kind":"track","uri":"https://api.soundcloud.com/tracks/7310692","user_uri":"https://api.soundcloud.com/users/963463","permalink_url":"http://soundcloud.com/bielousov/jan-hammer-group-dont-you-know-jimi-bazzouka-edit","stream_url":"https://api.soundcloud.com/tracks/7310692/stream","artwork_url":"https://i1.sndcdn.com/artworks-000003197975-z8tfsq-large.jpg?96679da"},"user":{"id":38691,"kind":"user","permalink":"alkalino","username":"Alkalino","uri":"https://api.soundcloud.com/users/38691","permalink_url":"http://soundcloud.com/alkalino","avatar_url":"https://i1.sndcdn.com/avatars-000017581300-0m35qz-large.jpg?96679da"}},"tags":"affiliated"},{"type":"track","created_at":"2012/07/01
        16:49:11 +0000","origin":{"kind":"track","id":51454308,"created_at":"2012/07/01
        16:49:11 +0000","user_id":38691,"duration":403719,"commentable":true,"state":"finished","original_content_size":4843627,"sharing":"public","tag_list":"","permalink":"lonely","description":"","streamable":true,"downloadable":false,"genre":"","release":"","purchase_url":null,"purchase_title":null,"label_id":null,"label_name":"","isrc":"","video_url":null,"track_type":"","key_signature":"","bpm":null,"title":"Lonely","release_year":null,"release_month":null,"release_day":null,"original_format":"mp3","license":"all-rights-reserved","uri":"https://api.soundcloud.com/tracks/51454308","embeddable_by":"all","user":{"id":38691,"kind":"user","permalink":"alkalino","username":"Alkalino","uri":"https://api.soundcloud.com/users/38691","permalink_url":"http://soundcloud.com/alkalino","avatar_url":"https://i1.sndcdn.com/avatars-000017581300-0m35qz-large.jpg?96679da"},"user_playback_count":1,"user_favorite":false,"permalink_url":"http://soundcloud.com/alkalino/lonely","artwork_url":"https://i1.sndcdn.com/artworks-000025948538-kj0rvt-large.jpg?96679da","waveform_url":"https://w1.sndcdn.com/oySt1902UQ7l_m.png","stream_url":"https://api.soundcloud.com/tracks/51454308/stream","playback_count":116,"download_count":0,"favoritings_count":17,"comment_count":3,"attachments_uri":"https://api.soundcloud.com/tracks/51454308/attachments","sharing_note":{"text":"","created_at":"2012/07/01
        16:49:12 +0000"}},"tags":"affiliated"},{"type":"favoriting","created_at":"2012/07/01
        16:13:31 +0000","origin":{"track":{"id":24742988,"permalink":"miguel-atwood-ferguson-fall-in","title":"Miguel
        Atwood-Ferguson-J Dilla Fall In Love","user_id":1407446,"kind":"track","uri":"https://api.soundcloud.com/tracks/24742988","user_uri":"https://api.soundcloud.com/users/1407446","permalink_url":"http://soundcloud.com/junebug-jackson/miguel-atwood-ferguson[...]
