---
http_interactions:
- request:
    method: get
    uri: https://api.soundcloud.com/me/activities?limit=10&oauth_token=<ACCESS_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"818ad0a93e3c418c0aeef8251c7b71f3"'
    body:
      encoding: US-ASCII
      string: ! '{"collection":[{"type":"favoriting","created_at":"2012/07/11 00:06:55
        +0000","origin":{"track":{"id":42806432,"permalink":"moodymann-hold-it-down","title":"Moodymann
        - Hold It Down","user_id":138179,"kind":"track","uri":"https://api.soundcloud.com/tracks/42806432","user_uri":"https://api.soundcloud.com/users/138179","permalink_url":"http://soundcloud.com/scionav/moodymann-hold-it-down","stream_url":"https://api.soundcloud.com/tracks/42806432/stream","artwork_url":"https://i1.sndcdn.com/artworks-000021479540-el8let-large.jpg?34f5d10"},"user":{"id":166962,"kind":"user","permalink":"inhead-kay","username":"Inhead-Kay","uri":"https://api.soundcloud.com/users/166962","permalink_url":"http://soundcloud.com/inhead-kay","avatar_url":"https://i1.sndcdn.com/avatars-000014600664-5orxkk-large.jpg?34f5d10"}},"tags":"affiliated"},{"type":"favoriting","created_at":"2012/07/10
        22:29:38 +0000","origin":{"track":{"id":29251051,"permalink":"flying-lotus-mister-murky","title":"Flying
        Lotus - mister murky socks \u00a0 ///// \u00a0LOS ANGELES ALT take mix2","user_id":196380,"kind":"track","uri":"https://api.soundcloud.com/tracks/29251051","user_uri":"https://api.soundcloud.com/users/196380","permalink_url":"http://soundcloud.com/flyinglotus/flying-lotus-mister-murky","stream_url":"https://api.soundc[...]
