---
http_interactions:
- request:
    method: get
    uri: http://api.soundcloud.com/users?client_id=617d95619347608e50397121b0b171be
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"80fc3bfef50b002357e10dd53dacc68f"'
    body:
      encoding: US-ASCII
      string: ! '[{"id":18297241,"kind":"user","permalink":"intellx","username":"IntellX","uri":"http://api.soundcloud.com/users/18297241","permalink_url":"http://soundcloud.com/intellx","avatar_url":"http://a1.sndcdn.com/images/default_avatar_large.png?c765bfd","country":"United
        States","full_name":"Nai Seduar","city":"Atlanta","description":null,"discogs_name":null,"myspace_name":null,"website":null,"website_title":null,"online":true,"track_count":0,"playlist_count":0,"public_favorites_count":1,"followers_count":0,"followings_count":1},{"id":17628822,"kind":"user","permalink":"user5689700","username":"user5689700","uri":"http://api.soundcloud.com/users/17628822","permalink_url":"http://soundcloud.com/user5689700","avatar_url":"http://a1.sndcdn.com/images/default_avatar_large.png?c765bfd","country":null,"full_name":"","city":null,"description":null,"discogs_name":null,"myspace_name":null,"website":null,"website_title":null,"online":true,"track_count":2,"playlist_count":0,"public_favorites_count":1,"followers_count":0,"follow[...]
