---
http_interactions:
- request:
    method: get
    uri: http://api.soundcloud.com/tracks/49518905/favoriters?client_id=<CLIENT_ID>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"526a197820ca2d5966564d95c8dea444"'
    body:
      encoding: US-ASCII
      string: ! '[{"id":386918,"kind":"user","permalink":"jesse_mathews","username":"Jesse
        Mathews","uri":"http://api.soundcloud.com/users/386918","permalink_url":"http://soundcloud.com/jesse_mathews","avatar_url":"http://i1.sndcdn.com/avatars-000000760011-dzrz11-large.jpg?96679da","country":"United
        States","full_name":"Jesse Mathews","city":"Orlando","description":"","discogs_name":null,"myspace_name":null,"website":"http://jessemathews.com","website_title":null,"online":true,"track_count":10,"playlist_count":0,"public_favorites_count":2718,"followers_count":1488,"followings_count":1740},{"id":3289839,"kind":"user","permalink":"brmc","username":"BRMC_","uri":"http://api.soundcloud.com/users/3289839","permalink_url":"http://soundcloud.com/brmc","avatar_url":"http://i1.sndcdn.com/avatars-000002754756-h077pj-large.jpg?96679da","country":"Portugal","full_name":"Bruno  Carvalho","city":"Cartaxo","description":null,"discogs_name":null,"myspace_name":null,"website":null,"website_title":null,"online":true,"track_count":0,"playlist_count":0,"public_favorites_count":457,"followers_c[...]
