---
http_interactions:
- request:
    method: get
    uri: http://api.soundcloud.com/tracks/49518905/favoriters?client_id=617d95619347608e50397121b0b171be
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"6898ff45d46cb68836894dedd6aaaf52"'
    body:
      encoding: US-ASCII
      string: ! '[{"id":1713296,"kind":"user","permalink":"spark-2","username":"SPARKLESS","uri":"http://api.soundcloud.com/users/1713296","permalink_url":"http://soundcloud.com/spark-2","avatar_url":"http://i1.sndcdn.com/avatars-000006485895-lxlr97-large.jpg?2f6e0dc","country":"Ukraine","full_name":"ALEX
        KHOMENKO","city":"KIEV CITY","description":"Alexander Khomenko, known to electronic
        music fans as Sparkless, was born on August 9, 1982, in the Northern capital
        of Russia- Saint Petersburg. Even then, without knowing anything of the boy\u2019s
        future, life was leaving an imprint of warm summer rain chords and melodic
        birds\u2019 vocals on the soul of the future artist. A love of music was not
        inherited by the boy, as it is with most music careers, but it came quietly.
        It\u2019s hard to reca[...]
