---
http_interactions:
- request:
    method: get
    uri: http://api.soundcloud.com/tracks/49518905?access_token=<ACCESS_TOKEN>&client_id=<CLIENT_ID>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"693175609617fb548a094081ef243f60"'
    body:
      encoding: US-ASCII
      string: ! '{"kind":"track","id":49518905,"created_at":"2012/06/13 02:08:35 +0000","user_id":375,"duration":419816,"commentable":true,"state":"finished","original_content_size":6752157,"sharing":"public","tag_list":"","permalink":"nitetime-hey-1","description":"Beatport:
        http://www.beatport.com/release/jive-talk/909277\r\n\r\nNitetime is the new
        production duo from Boston, USA comprised of Kon (from Kon \u0026 Amir) and
        Whisky Baron which was first sent to us by fellow Bostonians - Soul Clap.
        Nitetime\u2019s debut EP Jive Talk sits between OG boom bap hip hop - with
        its tough drums and grooved up interludes - and the 4/4 rhythms of classic
        house and disco. It also comes packed with a little more history than meets
        the e[...]
