---
http_interactions:
- request:
    method: get
    uri: http://api.soundcloud.com/tracks/49518905/favoriters?access_token=<ACCESS_TOKEN>&client_id=<CLIENT_ID>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"60e3392f13b4c7aa6303c654c1ec5ead"'
    body:
      encoding: US-ASCII
      string: ! '[{"id":2704352,"kind":"user","permalink":"fun_skier","username":"fun_skier","uri":"http://api.soundcloud.com/users/2704352","permalink_url":"http://soundcloud.com/fun_skier","avatar_url":"http://i1.sndcdn.com/avatars-000002644675-gcx10w-large.jpg?b9fd227","country":"Ukraine","full_name":"Tanya
        Siyanko","city":"Kiev","description":null,"discogs_name":null,"myspace_name":null,"website":null,"website_title":null,"online":true,"track_count":2,"playlist_count":0,"public_favorites_count":215,"followers_count":6,"followings_count":149},{"id":77466,"kind":"user","permalink":"100pm","username":"100PM
        / Cats In Caps","uri":"http://api.soundcloud.com/users/77466","permalink_url":"http://soundcloud.com/100pm","avatar_url":"http://i1.sndcdn.com/avatars-000015227282-xdbzds-large.jpg?b9fd227","country":"Russia","full_name":"Anton
        Smirnov","city":"Saint-Petersburg","description":"http://www.100pm.all.dj/\r\nhttp://www.mixcloud.com/dj100pm/\r\nhttp://feelmyrave.blogspot.com/","discogs_name":null,"myspace_name":null,[...]
