---
http_interactions:
- request:
    method: get
    uri: http://api.soundcloud.com/tracks/49518905/comments?access_token=<ACCESS_TOKEN>&client_id=<CLIENT_ID>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"3df2fd3f28e20fbcd7a20f1ed8bc123c"'
    body:
      encoding: US-ASCII
      string: ! '[{"kind":"comment","id":62343740,"created_at":"2012/06/16 13:50:11
        +0000","user_id":607655,"track_id":49518905,"timestamp":116591,"body":"nice
        change ... great track!","uri":"http://api.soundcloud.com/comments/62343740","user":{"id":607655,"kind":"user","permalink":"backshedman","username":"backshedman","uri":"http://api.soundcloud.com/users/607655","permalink_url":"http://soundcloud.com/backshedman","avatar_url":"http://i1.sndcdn.com/avatars-000005309460-9md504-large.jpg?b9fd227"}},{"kind":"comment","id":62317536,"created_at":"2012/06/16
        08:44:45 +0000","user_id":1139074,"track_id":49518905,"timestamp":367994,"body":"Great
        track. ","uri":"http://api.soundcloud.com/comments/62317536","user":{"id":1139074,"kind":"user","permalink":"reevesy","username":"reevesy","uri":"http://api.soundcloud.com/users/1139074","permalink_url":"http://soundcloud.com/reevesy","avatar_url":"http://i1.sndcdn.com[...]
