---
http_interactions:
- request:
    method: get
    uri: http://api.soundcloud.com/users/2879548/favorites?client_id=<CLIENT_ID>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"4e13f289069e24ffb015e95eeae0e28e"'
    body:
      encoding: US-ASCII
      string: ! '[{"kind":"track","id":51129815,"created_at":"2012/06/28 08:27:04
        +0000","user_id":1792025,"duration":299059,"commentable":true,"state":"finished","original_content_size":12332264,"sharing":"public","tag_list":"","permalink":"poolside-why-you-wanna","description":"\"Pacific
        Standard Time\" out July 9th 2012\r\n\r\nhttp://poolsidemusic.com\r\nhttp://twitter.com/poolside_music
        \r\nhttp://facebook.com/poolsidemusic\r\nhttp://youtube.com/poolsidedaytimedisco","streamable":true,"downloadable":false,"genre":"Daytime
        Disco","release":"","purchase_url":null,"purchase_title":null,"label_id":null,"label_name":"","isrc":"","video_url":null,"track_type":"original","key_signature":"","bpm":102.0,"title":"Poolside
        - Why You Wanna","release_year":null,"release_month":null,"release_day":null,"original_format":"mp3","license":"all-rights-reserved","uri":"http://api.soundcloud.com/tracks/51129815","embeddable_by":"all","user":{"id":1792025,"kind":"user","permalink":"poolside_music","username":"Poolside
        Music","uri":"http://api.soundcloud.com/users/1792025","permalink_url":"http://soundcloud.com/poolside_music","avatar_url":"http://i1.sndcdn.com/avatars-000004002474-0q4k25-large.jpg?96679da"},"permalink_url":"http://soundcloud.com/poolside_music/poolside-why-you-wanna","artwork_url":"http://i1.sndcdn.com/artworks-000025779599-ar1ypw-large.jpg?96679da","waveform_url":"http://w1.sndcdn.com/6wafZvLrdtPE_m.png","stream_url":"http://api.soundcloud.com/tracks/51129815/stream","playback_count":9267,"download_count":0,"favoritings_count":489,"comment_count":50,"attachments_uri":"http://api.soundcloud.com/tracks/51129815/attachments"},{"kind":"track","id":50973127,"created_at":"2012/06/26
        21:38:29 +0000","user_id":9129763,"duration":213683,"commentable":true,"state":"finished","original_content_size":7253793,"sharing":"public","tag_list":"diiv
        \"captured tracks\" oshin","permalink":"diiv-how-long-have-you-known","description":"DIIV''s
        debut LP ''Oshin'' is out June 26th. ","streamable":true,"downloadable":true,"genre":"agua","release":"","purchase_url":null,"purchase_title":null,"label_id":null,"label_name":"","isrc":"","video_url":null,"track_type":"original","key_signature":"","bpm":null,"title":"DIIV
        \"How Long Have You Known\"","release_year":null,"release_month":null,"release_day":null,"original_format":"mp3","license":"all-rights-reserved","uri":"http://api.soundcloud.com/tracks/50973127","embeddable_by":"all","user":{"id":9129763,"kind":"user","permalink":"capturedtracks","username":"capturedtracks","uri":"http://api.soundcloud.com/users/9129763","permalink_url":"http://soundcloud.com/capturedtracks","avatar_url":"http://i1.sndcdn.com/avatars-000016139673-8fqtpv-large.jpg?96679da"},"permalink_url":"http://soundcloud.com/capturedtracks/diiv-how-long-have-you-known","artwork_url":"http://i1.sndcdn.com/artworks-000025699661-soljbx-large.jpg?96679da","waveform_url":"http://w1.sndcdn.com/ubMfe186geSZ_m.png","stream_url":"http://api.soundcloud.com/tracks/50973127/stream","download_url":"http://api.soundcloud.com/tracks/50973127/download","playback_count":912,"download_count":141,"favoritings_count":31,"comment_count":5,"attachments_uri":"http://api.soundcloud.com/tracks/50973127/attachments"},{"kind":"track","id":50952333,"created_at":"2012/06/26
        18:31:35 +0000","user_id":928747,"duration":280557,"commentable":true,"state":"finished","original_content_size":74283944,"sharing":"public","tag_list":"\"Beat
        Connection\" \"St. Etienne\" \"Last Days of Disco\" Remix [...]
