---
http_interactions:
- request:
    method: get
    uri: http://api.soundcloud.com/users/999942/comments?client_id=617d95619347608e50397121b0b171be
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"3f5a5acbf4138c8cf84ad675cb1bcec7"'
    body:
      encoding: US-ASCII
      string: ! '[{"kind":"comment","id":2400985,"created_at":"2010/05/13 02:52:22
        +0000","user_id":999942,"track_id":2689376,"timestamp":556457,"body":"tears
        like diamondsssss","uri":"http://api.soundcloud.com/comments/2400985","user":{"id":999942,"kind":"user","permalink":"jackca","username":"JackCA","uri":"http://api.soundcloud.com/users/999942","permalink_url":"http://soundcloud.com/jackca","avatar_url":"http://i1.sndcdn.com/avatars-000002957252-ptk617-large.jpg?09581af"}},{"kind":"comment","id":2400974,"created_at":"2010/05/13
        02:50:41 +0000","user_id":999942,"track_id":2689376,"timestamp":469789,"body":"Meow
        meowwwwww","uri":"http://api.soundcloud.com/comments/2400974","user":{"id":999942,"kind":"user","permalink":"jackca","username":"JackCA","uri":"http://api.soundcloud.com/users/999942","permalink_url":"http://soundcloud.com/jackca","avatar_url":"http://i1.sndcdn.com/avatars-000002957252-ptk617-large.jpg?09581af"}}]'
  recorded_at: Wed, 20 Jun 2012 01:09:35 GMT
recorded_with: VCR 2.2.0
