---
http_interactions:
- request:
    method: get
    uri: http://api.soundcloud.com/users/999942/favorites?access_token=<ACCESS_TOKEN>&client_id=<CLIENT_ID>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"59dc529539e573a01e018d94ce8e958e"'
    body:
      encoding: US-ASCII
      string: ! '[{"kind":"track","id":51038163,"created_at":"2012/06/27 13:36:29
        +0000","user_id":102594,"duration":243867,"commentable":true,"state":"finished","original_content_size":42987548,"sharing":"public","tag_list":"","permalink":"patrick-watson-step-out-for-a-while","description":"\"Step
        Out For A While\" is the new single from Patrick Watson''s album ''Adventures
        In Your Own Backyard''. It is released on 20th of August 2012.","streamable":true,"downloadable":false,"genre":"Chamber
        Pop","release":"","purchase_url":null,"purchase_title":null,"label_id":null,"label_name":"","isrc":"","video_url":null,"track_type":"original","key_signature":"","bpm":null,"title":"Patrick
        Watson - Step Out For A While","release_year":null,"release_month":null,"release_day":null,"original_format":"wav","license":"all-rights-reserved","uri":"http://api.soundcloud.com/tracks/51038163","embeddable_by":"all","user":{"id":102594,"kind":"user","permalink":"dominorecordco","username":"Domino
        Record Co","uri":"http://api.soundcloud.com/users/102594","permalink_url":"http://soundcloud.com/dominorecordco","avatar_url":"http://i1.sndcdn.com/avatars-000000584933-5buci0-large.jpg?b9fd227"},"permalink_url":"http://soundcloud.com/dominorecordco/patrick-watson-step-out-for-a-while","artwork_url":"http://i1.sndcdn.com/artworks-000025733515-7f9jwe-large.jpg?b9fd227","waveform_url":"http://w1.sndcdn.com/AlQZbhaG45OA_m.png","stream_url":"http://api.soundcloud.com/tracks/51038163/stream","playback_count":800,"download_count":0,"favoritings_count":75,"comment_count":14,"attachments_uri":"http://api.soundcloud.com/tracks/51038163/attachments"},{"kind":"track","id":50977453,"created_at":"2012/06/26
        22:18:57 +0000","user_id":2879548,"duration":27465,"commentable":true,"state":"finished","original_content_size":276539,"sharing":"public","tag_list":"soundcloud:source=iphone-record
        foursquare:venue=4e6e75447d8bbfa9af349a15","permalink":"jwagener-and-his-foul-language","description":null,"streamable":true,"downloadable":true,"genre":null,"release":null,"purchase_url":null,"purchase_title":null,"label_id":null,"label_name":null,"isrc":null,"video_url":null,"track_type":"recording","key_signature":null,"bpm":null,"title":"@jwagener
        and his foul language at SoundCloud Inc.","release_year":null,"release_month":null,"release_day":null,"original_format":"m4a","license":"all-rights-reserved","uri":"http://api.soundcloud.com/tracks/50977453","embeddable_by":"all","user":{"id":2879548,"kind":"user","permalink":"jstnw","username":"jstreet","uri":"http://api.soundcloud.com/users/2879548","permalink_url":"http://soundcloud.com/jstnw","avatar_url":"http://i1.sndcdn.com/avatars-000006763043-urg7lt-large.jpg?b9fd227"},"created_with":{"id":124,"kind":"app","name":"SoundCloud
        iOS","uri":"http://api.soundcloud.com/apps/124","permalink_url":"http://soundcloud.com/apps/iphone","external_url":"http://itunes.com/app/soundcloud"},"permalink_url":"http://soundcloud.com/jstnw/jwagener-and-his-foul-language","artwork_url":"http://i1.sndcdn.com/artworks-000025701916-ui14kr-large.jpg?b9fd227","waveform_url":"http://w1.sndcdn.com/Mm7192gPUEWU_m.png","stream_url":"http://api.soundcloud.com/tracks/50977453/stream","download_url":"http://api.soundcloud.com/tracks/50977453/download","playback_count":17,"download_count":1,"favoritings_count":2,"comment_count":0,"attachments_uri":"http://api.soundcloud.com/tracks/50977453/attachments"},{"kind":"track","id":50923327,"created_at":"2012/06/26
        13:13:14 +0000","user_id":38691,"duration":382211,"commentable":true,"state":"finished","original_content_size":67384844,"sharing":"public","tag_list":"","permalink":"alkalino-feeling-u-should-know","description":"Heard
        th[...]
