---
http_interactions:
- request:
    method: get
    uri: http://api.soundcloud.com/users/999942?client_id=617d95619347608e50397121b0b171be
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"8ab15881ddac99a2922382f4f10db5a9"'
    body:
      encoding: US-ASCII
      string: ! '{"id":999942,"kind":"user","permalink":"jackca","username":"JackCA","uri":"http://api.soundcloud.com/users/999942","permalink_url":"http://soundcloud.com/jackca","avatar_url":"http://i1.sndcdn.com/avatars-000002957252-ptk617-large.jpg?c765bfd","country":"United
        States","full_name":"Jack Anderson","city":"San Francisco","description":"","discogs_name":null,"myspace_name":null,"website":"http://janderson.me","website_title":"","online":true,"track_count":0,"playlist_count":0,"public_favorites_count":66,"followers_count":19,"followings_count":110}'
  recorded_at: Sun, 17 Jun 2012 07:03:18 GMT
recorded_with: VCR 2.2.0
