---
http_interactions:
- request:
    method: get
    uri: http://api.soundcloud.com/users/999942/comments?access_token=<ACCESS_TOKEN>&client_id=<CLIENT_ID>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"309b89edb9e275d6e22eb04b24af323a"'
    body:
      encoding: US-ASCII
      string: ! '[{"kind":"comment","id":2400985,"created_at":"2010/05/13 02:52:22
        +0000","user_id":999942,"track_id":2689376,"timestamp":556457,"body":"tears
        like diamondsssss","uri":"http://api.soundcloud.com/comments/2400985","user":{"id":999942,"kind":"user","permalink":"jackca","username":"JackCA","uri":"http://api.soundcloud.com/users/999942","permalink_url":"http://soundcloud.com/jackca","avatar_url":"http://i1.sndcdn.com/avatars-000002957252-ptk617-large.jpg?b9fd227"}},{"kind":"comment","id":2400974,"created_at":"2010/05/13
        02:50:41 +0000","user_id":999942,"track_id":2689376,"timestamp":469789,"body":"Meow
        meowwwwww","uri":"http://api.soundcloud.com/comments/2400974","user":{"id":999942,"kind":"user","permalink":"jackca","username":"JackCA","uri":"http://api.soundcloud.com/users/999942","permalink_url":"http://soundcloud.com/jackca","avatar_url":"http://i1.sndcdn.com/avatars-000002957252-ptk617-large.jpg?b9fd227"}}]'
  recorded_at: Thu, 28 Jun 2012 08:52:13 GMT
recorded_with: VCR 2.2.0
