---
http_interactions:
- request:
    method: get
    uri: http://api.soundcloud.com/users/999942/favorites?client_id=617d95619347608e50397121b0b171be
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"fcb179fa90e77a09d662c63166944415"'
    body:
      encoding: US-ASCII
      string: ! '[{"kind":"track","id":50205122,"created_at":"2012/06/19 18:02:59
        +0000","user_id":153671,"duration":382865,"commentable":true,"state":"finished","original_content_size":15308863,"sharing":"public","tag_list":"","permalink":"jagga-love-song-boy-8-bits","description":"My
        \"dub\" remix of Jagga''s ''Love Song'' a bit more dubbed out, a little bit
        more wistful, a little bit more 303 and possibly a little deeper. Maybe.\n\nOriginal
        remix available for free on the Mixmag site!\n\nhttp://www.mixmag.net/music/mp3-blog/free-mp3%3A-jagga-%28boy-8-bit-remix%29","streamable":true,"downloadable":false,"genre":"","release":"","purchase_url":null,"purchase_title":null,"label_id":null,"label_name":"","isrc":"","video_url":null,"track_type":"","key_signature":"","bpm":null,"title":"Jagga
        - Love Song (Boy 8-Bit''s Wistful 303 Dub)","release_year":null,"release_month":null,"release_day":null,"original_format":"mp3","license":"all-rights-reserved","uri":"http://api.soundcloud.com/tracks/50205122","embeddable_by":"all","user":{"id":153671,"kind":"user","permalink":"boy8bit","username":"Boy
        8-Bit","uri":"http://api.soundcloud.com/users/153671","permalink_url":"http://soundcloud.com/boy8bit","avatar_url":"http://i1.sndcdn.com/avatars-000000966869-ynzgmy-large.jpg?09581af"},"permalink_url":"http://soundcloud.com/boy8bit/jagga-love-song-boy-8-bits","artwork_url":"http://i1.sndcdn.com/artworks-000025309817-bcawqq-large.jpg?09581af","waveform_url":"http://w1.sndcdn.com/xh5tugW7CIRw_m.png","stream_url":"http://api.soundcloud.com/tracks/50205122/stream","playback_count":306,"download_count":0,"favoritings_count":34,"comment_count":9,"attachments_uri":"http://api.soundcloud.com/tracks/50205122/attachments"},{"kind":"track","id":49518904,"created_at":"2012/06/13
        02:08:35 +0000","user_id":375,"duration":447465,"commentable":true,"state":"finished","original_content_size":7158472,"sharing":"public","tag_list":"","permalink":"nitetime-teddys-jam-1","description":"Beatport:
        http://www.beatport.com/release/jive-talk/909277\r\n\r\nNitetime is the new
        production duo from Boston, USA comprised of Kon (from Kon \u0026 Amir) and
        Whisky Baron which was first sent to us by fellow Bostonians - Soul Clap.
        Nitetime\u2019s debut EP Jive Talk sits between OG boom bap hip hop - with
        its tough drums and grooved up interludes - and the 4/4 rhythms of classic
        house and disco. It also comes packed with a little more history than meets
        the e[...]
