---
http_interactions:
- request:
    method: get
    uri: https://api.soundcloud.com/me/followings/19813607?oauth_token=<ACCESS_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 303
      message: See Other
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.soundcloud.com/users/19813607
    body:
      encoding: US-ASCII
      string: ! '{"id":19813607,"kind":"user","permalink":"red_haze","username":"red_haze","uri":"https://api.soundcloud.com/users/19813607","permalink_url":"http://soundcloud.com/red_haze","avatar_url":"https://a1.sndcdn.com/images/default_avatar_large.png?62b09b1","country":"United
        States","full_name":"","city":"San Francisco","description":null,"discogs_name":null,"myspace_name":null,"website":null,"website_title":null,"online":false,"track_count":0,"playlist_count":0,"public_favorites_count":0,"followers_count":1,"followings_count":1}'
  recorded_at: Sat, 14 Jul 2012 02:47:25 GMT
- request:
    method: get
    uri: https://api.soundcloud.com/users/19813607
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"errors":[{"error_message":"401 - Unauthorized"}]}'
  recorded_at: Sat, 14 Jul 2012 02:47:26 GMT
recorded_with: VCR 2.2.2
