---
http_interactions:
- request:
    method: get
    uri: http://api.soundcloud.com/users/2879548/followers?client_id=<CLIENT_ID>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"8ba91c0e2b2efb36b071a7aedad9c165"'
    body:
      encoding: US-ASCII
      string: ! '[{"id":7002388,"kind":"user","permalink":"smurthas","username":"smurthas","uri":"http://api.soundcloud.com/users/7002388","permalink_url":"http://soundcloud.com/smurthas","avatar_url":"http://i1.sndcdn.com/avatars-000005671285-qjpjrz-large.jpg?96679da","country":"United
        States","full_name":"Simon","city":"San Francisco","description":null,"discogs_name":null,"myspace_name":null,"website":null,"website_title":null,"online":true,"track_count":15,"playlist_count":0,"public_favorites_count":1,"followers_count":4,"followings_count":4},{"id":1722310,"kind":"user","permalink":"me-and-this-arm","username":"Me
        \u0026 This Army","uri":"http://api.soundcloud.com/users/1722310","permalink_url":"http://soundcloud.com/me-and-this-arm","avatar_url":"http://i1.sndcdn.com/avatars-000007084825-6hyxc9-large.jpg?96679da","country":"United
        States","full_name":"Courtney Hargrove, Nicholas Pollione, Jonathan Burrier","city":"Baltimore","description":"Check
        out our new song, YOU, and download it for free! \r\n\r\nwww.[...]
