---
http_interactions:
- request:
    method: get
    uri: http://api.soundcloud.com/users/999942/followers?access_token=<ACCESS_TOKEN>&client_id=<CLIENT_ID>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"a403fd0adb98af14d3d4d6e45ce4dc81"'
    body:
      encoding: US-ASCII
      string: ! '[{"id":2879548,"kind":"user","permalink":"jstnw","username":"jstreet","uri":"http://api.soundcloud.com/users/2879548","permalink_url":"http://soundcloud.com/jstnw","avatar_url":"http://i1.sndcdn.com/avatars-000006763043-urg7lt-large.jpg?b9fd227","country":"United
        States","full_name":"Justin Street","city":"San Francisco","description":"I''m
        a Business Developer on SoundCloud''s API Team. ","discogs_name":null,"myspace_name":null,"website":"http://justin.st","website_title":"the
        personal blog of Justin W. Street","online":true,"track_count":43,"playlist_count":5,"public_favorites_count":391,"followers_count":492,"followings_count":442},{"id":1825259,"kind":"user","permalink":"sirkofficial","username":"SirK","uri":"http://api.soundcloud.com/users/1825259","permalink_url":"http://soundcloud.com/sirkofficial","avatar_url":"http://i1.sndcdn.com/avatars-000017692322-9vlpf9-large.jpg?b9fd227","country":"Puerto
        Rico","full_name":"Christian Robles","city":"San Juan","description":"Bookings:\nNorth
        America/South America/Central America\nsirk.magnusson@gmail.com\n\n\n     Christian
        Robles, born and raised in[...]
