---
http_interactions:
- request:
    method: get
    uri: http://api.soundcloud.com/users/999942/followings?client_id=617d95619347608e50397121b0b171be
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"1e7f642002ce2066da26bea0777fa25a"'
    body:
      encoding: US-ASCII
      string: ! '[{"id":120252,"kind":"user","permalink":"jack-beats","username":"Jack
        Beats","uri":"http://api.soundcloud.com/users/120252","permalink_url":"http://soundcloud.com/jack-beats","avatar_url":"http://i1.sndcdn.com/avatars-000000597346-wcazkv-large.jpg?2f6e0dc","country":"Britain
        (UK)","full_name":"Jack Beats","city":"London","description":"JACK LOVES YOU\r\n\r\n*OUR
        UPLOADED TRACKS ARE AVAILABLE TO PURCHASE ON ITUNES \u0026amp; BEATPORT- OUR
        DJ MIXES ARE AVAILABLE TO DOWNLOAD FREE.","discogs_name":null,"myspace_name":"jackbeats","website":"http://www.jackbeats.co.uk","website_title":"Official
        Website","online":true,"track_count":25,"playlist_count":3,"public_favorites_count":0,"followers_count":32386,"followings_count":0},{"id":80709,"kind":"user","permalink":"theinsound","username":"theinsound","uri":"http://api.soundcloud.com/users/80709","permalink_url":"http://soundcloud.com/theinsound","avatar_url":"http://i1.sndcdn.com/avatars-000000642324-0f79zw-large.jpg?2f6e0dc","country":"Australia","full_name":"The
        In Sound From Way Out","city":"Sydney","description":"The In Sound From Way
        Out is EMI Australia\u2019s official music and mp3 blog.\r\n\r\nAs far as
        we can tell, we are the only m[...]
