---
http_interactions:
- request:
    method: get
    uri: http://api.soundcloud.com/users/999942/followers?client_id=617d95619347608e50397121b0b171be
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"8fae1c3b668893582c2edd2436bdfed8"'
    body:
      encoding: US-ASCII
      string: ! '[{"id":2879548,"kind":"user","permalink":"jstnw","username":"jstreet","uri":"http://api.soundcloud.com/users/2879548","permalink_url":"http://soundcloud.com/jstnw","avatar_url":"http://i1.sndcdn.com/avatars-000006763043-urg7lt-large.jpg?2f6e0dc","country":"United
        States","full_name":"Justin Street","city":"San Francisco","description":"I''m
        a Business Developer on SoundCloud''s API Team. ","discogs_name":null,"myspace_name":null,"website":"http://justin.st","website_title":"the
        personal blog of Justin W. Street","online":true,"track_count":42,"playlist_count":5,"public_favorites_count":378,"followers_count":477,"followings_count":432},{"id":1825259,"kind":"user","permalink":"sirkofficial","username":"SirK","uri":"http://api.soundcloud.com/users/1825259","permalink_url":"http://soundcloud.com/sirkofficial","avatar_url":"http://i1.sndcdn.com/avatars-000015324160-tut8uu-large.jpg?2f6e0dc","country":"Puerto
        Rico","full_name":"Christian Robles","city":"San Juan","description":"Bookings:\r\nNorth
        America/South America/Central America\r\nsirk.magnusson@gmail.com\r\n\r\n\r\nHailing
        from Rio Piedras, Puert[...]
