---
http_interactions:
- request:
    method: get
    uri: http://api.soundcloud.com/users/999942/groups?access_token=<ACCESS_TOKEN>&client_id=<CLIENT_ID>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"89535f3894151a028a8971ea73adf078"'
    body:
      encoding: US-ASCII
      string: ! '[{"kind":"group","id":3,"created_at":"2009/06/18 15:46:46 +0000","permalink":"made-with-ableton-live","name":"Made
        with Ableton Live!","short_description":"tracks produced with Ableton Live!
        music software, no DJ mixes!","description":"send your tracks, no DJ mixes
        please!","uri":"http://api.soundcloud.com/groups/3","artwork_url":"http://i1.sndcdn.com/artworks-000000481400-f0ynk3-large.jpg?b9fd227","permalink_url":"http://soundcloud.com/groups/made-with-ableton-live","creator":{"id":552892,"kind":"user","permalink":"ableton","username":"Ableton","uri":"http://api.soundcloud.com/users/552892","permalink_url":"http://soundcloud.com/ableton","avatar_url":"http://i1.sndcdn.com/avatars-000001173775-dm1p1l-large.jpg?b9fd227"}},{"kind":"group","id":83495,"created_at":"2012/06/21
        04:33:50 +0000","permalink":"red_haze","name":"red_haze","short_description":"red_haze
        gem group","description":"","uri":"http://api.soundcloud.com/groups/83495","artwork_url":"http://a1.sndcdn.com/images/default_avatar_large.png?b9fd227","permalink_url":"http://soundcloud.com/groups/red_haze","creator":{"id":999942,"kind":"user","permalink":"jackca","username":"JackCA","uri":"http://api.soundcloud.com/users/999942","permalink_url":"http://soundcloud.com/jackca","avatar_url":"http://i1.sndcdn.com/avatars-000002957252-ptk617-large.jpg?b9fd227"}}]'
  recorded_at: Thu, 28 Jun 2012 08:52:14 GMT
recorded_with: VCR 2.2.0
