---
http_interactions:
- request:
    method: get
    uri: http://api.soundcloud.com/users/2879548/comments?client_id=<CLIENT_ID>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"d66f18630a7654c4129a8b3f677dc22d"'
    body:
      encoding: US-ASCII
      string: ! '[{"kind":"comment","id":63890039,"created_at":"2012/06/26 18:54:58
        +0000","user_id":2879548,"track_id":49057252,"timestamp":1787,"body":"There''s
        no beating that album cover.","uri":"http://api.soundcloud.com/comments/63890039","user":{"id":2879548,"kind":"user","permalink":"jstnw","username":"jstreet","uri":"http://api.soundcloud.com/users/2879548","permalink_url":"http://soundcloud.com/jstnw","avatar_url":"http://i1.sndcdn.com/avatars-000006763043-urg7lt-large.jpg?96679da"}},{"kind":"comment","id":61933736,"created_at":"2012/06/13
        23:07:04 +0000","user_id":2879548,"track_id":49099740,"timestamp":1092,"body":"It
        sounds almost as good as it looks","uri":"http://api.soundcloud.com/comments/61933736","user":{"id":2879548,"kind":"user","permalink":"jstnw","username":"jstreet","uri":"http://api.soundcloud.com/users/2879548","permalink_url":"http://soundcloud.com/jstnw","avatar_url":"htt[...]
