---
http_interactions:
- request:
    method: get
    uri: http://api.soundcloud.com/users/2879548/groups?client_id=<CLIENT_ID>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"d8a947d02bcceeb88b15d68609ad416f"'
    body:
      encoding: US-ASCII
      string: ! '[{"kind":"group","id":63665,"created_at":"2012/01/20 07:15:11 +0000","permalink":"storywheel","name":"Story
        Wheel","short_description":"Tell the story behind your pictures","description":"StoryWheel
        let''s you tell the story behind your pictures. To tell your story go to http://storywheel.cc.\r\n","uri":"http://api.soundcloud.com/groups/63665","artwork_url":"http://i1.sndcdn.com/artworks-000017237180-9uzm6k-large.jpg?96679da","permalink_url":"http://soundcloud.com/groups/storywheel","creator":{"id":3207,"kind":"user","permalink":"jwagener","username":"Johannes
        Wagener","uri":"http://api.soundcloud.com/users/3207","permalink_url":"http://soundcloud.com/jwagener","avatar_url":"http://i1.sndcdn.com/avatars-000014428549-3at7qc-large.jpg?96679da"}},{"kind":"group","id":51341,"created_at":"2011/08/31
        17:05:42 +0000","permalink":"imaschine","name":"iMaschine","short_description":"","description":"","uri":"http://api.soundcloud.com/groups/51341","artwork_url":"http://i1.sndcdn.com/artworks-000011208598-bd6tbg-large.jpg?96679da","permalink_url":"http://soundcloud.com/groups/imaschine","creator":{"id":6450915,"kind":"user","permalink":"imaschine","username":"imaschin[...]
