---
http_interactions:
- request:
    method: get
    uri: http://api.soundcloud.com/users/2879548/playlists?client_id=<CLIENT_ID>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"844ac02b40236a86a825dfc45f64489b"'
    body:
      encoding: US-ASCII
      string: ! '[{"kind":"playlist","id":2089652,"created_at":"2012/06/08 20:47:38
        +0000","user_id":2879548,"duration":12678011,"sharing":"public","tag_list":"","permalink":"sl-md-nke","description":"Sometimes
        we party. And sometimes, we listen to this. ","streamable":true,"downloadable":null,"genre":"","release":"","purchase_url":null,"purchase_title":null,"label_id":null,"label_name":"","type":"compilation","playlist_type":"compilation","ean":"","title":"sl@md\u00fcnke","release_year":null,"release_month":null,"release_day":null,"license":"all-rights-reserved","uri":"http://api.soundcloud.com/playlists/2089652","permalink_url":"http://soundcloud.com/jstnw/sets/sl-md-nke","artwork_url":"http://i1.sndcdn.com/artworks-000024746416-y1fatq-large.jpg?96679da","embeddable_by":"all","user":{"id":2879548,"kind":"user","permalink":"jstnw","username":"jstreet","uri":"http://api.soundcloud.com/users/2879548","permalink_url":"http://soundcloud.com/jstnw","avatar_url":"http://i1.sndcdn.com/avatars-000006763043-urg7lt-large.jpg?96679da"},"tracks":[{"kind":"track","id":48150904,"created_at":"2012/05/31
        09:49:01 +0000","user_id":3555324,"duration":369930,"commentable":true,"state":"finished","original_content_size":65278262,"sharing":"public","tag_list":"Sunless
        97 Azul Not Even Body Weather","permalink":"azul-1","description":"Body Weather
        / Azul single out 18th June on Not Even. \nPre order a limited edition vinyl
        here: http://moshimoshi.greedbag.com/buy/body-weatherazul/\n\nListen to http://soundcloud.com/sunless97/body-weather-1\n\nwww.facebook.com/Sunless97
        \nwww.twitter.com/Sunless97 \nwww.sunless97.tumblr.com","streamable":true,"downloadable":false,"genre":"","release":"","purchase_url":null,"purchase_title":null,"label_id":null,"label_name":"","isrc":"","video_url":null,"track_type":"original","key_signature":"","bpm":null,"title":"Azul","release_year":null,"release_month":null,"release_day":null,"original_format":"wav","license":"all-rights-reserved","uri":"http://api.soundcloud.com/tracks/48150904","embeddable_by":"all","user":{"id":3555324,"kind":"user","permalink":"sunless97","username":"SUNLESS
        ''97","uri":"http://api.soundcloud.com/users/3555324","permalink_url":"http://soundcloud.com/sunless97","avatar_url":"http://i1.sndcdn.com/avatars-000002889583-goab4s-large.jpg?96679da"},"permalink_url":"http://soundcloud.com/sunless97/azul-1","artwork_url":"http://i1.sndcdn.com/artworks-000024252204-9mj0y0-large.jpg?96679da","waveform_url":"http://w1.sndcdn.com/HAfKhy17Uvju_m.png","stream_url":"http://api.soundcloud.com/tracks/48150904/stream","playback_count":7696,"download_count":0,"favoritings_count":78,"comment_count":5,"attachments_uri":"http://api.soundcloud.com/tracks/48150904/attachments"},{"kind":"track","id":47165996,"created_at":"2012/05/22
        04:51:39 +0000","user_id":5746400,"duration":244729,"commentable":true,"state":"finished","original_content_size":9785509,"sharing":"public","tag_list":"","permalink":"isnt-this-3","description":"","streamable":true,"downloadable":true,"genre":"","release":"","purchase_url":null,"purchase_title":null,"label_id":null,"label_name":"","isrc":"","video_url":null,"track_type":"","key_signature":"","bpm":null,"title":"Isn''t
        This","release_year":null,"release_month":null,"release_day":null,"original_format":"mp3","license":"all-rights-reserved","uri":"http://api.soundcloud.com/tracks/47165996","embeddable_by":"all","user":{"id":5746400,"kind":"user","permalink":"yunglife","username":"Yung
        Life","uri":"http://api.soundcloud.com/users/5746400","permalink_url":"http://soundcloud.com/yunglife","avatar_url":"http://i1.sndcdn.com/avatars-000004671978-rs13w4-large.jpg?96679da"},"permalink_url":"http://soundcloud.com/yunglife/isnt-this-3","artwork_url":"http://i1.sndcdn.com/artworks-000025402791-j5k2jp-large.jpg?96679da","waveform_url":"http://w1.sndcdn.com/KUSxF2b55OjJ_m.png","stream_url":"http://api.soundcloud.com/tracks/47165996/stream","download_url":"http://api.soundcloud.com/tracks/47165996/download","playback_count":34516,"download_count":174,"favoritings_count":105,"comment_count":13,"attachments_uri":"http://api.soundcloud.com/tracks/47165996/attachments"},{"kind":"track","id":39281036,"created_at":"2012/03/10
        03:50:57 +0000","user_id":13169754,"duration":310609,"commentable":true,"state":"finished","original_content_size":83421510,"sharing":"public","tag_list":"","permalink":"01-sleeves","description":"","streamable":true,"down[...]
