---
http_interactions:
- request:
    method: get
    uri: http://api.soundcloud.com/users/2879548?client_id=<CLIENT_ID>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"978a91aca31d51b1abda82e9b0a07791"'
    body:
      encoding: US-ASCII
      string: ! '{"id":2879548,"kind":"user","permalink":"jstnw","username":"jstreet","uri":"http://api.soundcloud.com/users/2879548","permalink_url":"http://soundcloud.com/jstnw","avatar_url":"http://i1.sndcdn.com/avatars-000006763043-urg7lt-large.jpg?96679da","country":"United
        States","full_name":"Justin Street","city":"San Francisco","description":"I''m
        a Business Developer on SoundCloud''s API Team. ","discogs_name":null,"myspace_name":null,"website":"http://justin.st","website_title":"the
        personal blog of Justin W. Street","online":true,"track_count":43,"playlist_count":5,"public_favorites_count":393,"followers_count":493,"followings_count":444}'
  recorded_at: Fri, 29 Jun 2012 15:40:53 GMT
recorded_with: VCR 2.2.0
